h1{
    color:red

}


form{
    margin-bottom: 20px;
}

body{font-family: Arial, Helvetica, sans-serif;
margin: 40px;
}

button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50 ;
    color: white ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #45a049 ;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    font-size: 18px;
}